@use "variables" as * ;

@mixin font($size, $color, $weight) {
  display: block;
  // margin: auto ;
  font-family: inter ;
  font-style: normal;
  color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: normal;
    text-transform: capitalize;
  }
  
  // fonts 
  .head {
    @include font($fbig , black , $wbold) ;
  }

  .chat{
    @include font($fmedium , black , $wnormal) ;
    &-w{
      color: white ;
    }

  }
 
  
  .minibold{
    @include font($fmedium , black , $wbold) ;
        &-sub {
    @include font($fsmall , black , $wbold) ;
          
        }
  }
 
  



   




