// variables
$primary: hsla(241, 83%, 65%, 1);
$secondary: #F1F1F1;
$p: 'Poppins';
$i: 'Inter';
$o: 'Oswald';
$wbold : 600 ; 
$wsemibold : 400 ; 
$wnormal : 200 ;
$fbig : 18px ; 
$fmedium : 14px ; 
$fsmall : 12px ; 
$gap : 10px ;
$pad : 5px ;
$mr : 8vw ;
$ml : 8vw ;
$radi :10px ;
///////////////
/// this part about the gaps in flexBoxes :
$gp1 : 5px ;
$gp2 : 15px;
$gp3 : 25px;
$gp4 : 35px;


