// variables
$primary: hsla(241, 83%, 65%, 1);
$secondary: #F1F1F1;
$p: 'Poppins';
$i: 'Inter';
$o: 'Oswald';
$wbold : 600 ; 
$wsemibold : 400 ; 
$wnormal : 200 ;
$fbig : 18px ; 
$fmedium : 14px ; 
$fsmall : 12px ; 
$gap : 10px ;
$mr : 20vh ;
$ml : 20vh ;


