@use "./abstracts" ;

img {
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
height: 40px;
border-radius: 10px;
background:  lightgray 50% / cover no-repeat;
}
#root {
div {
    border: solid cyan 1px;
}
}