@use "abstracts" as * ;
@use "style" as *  ; 

.Navbar {
    background-color: $secondary;
    padding: 0 10vw 0 10vw;

    .icon {
        background-color: transparent;
    }
    .links {
        p {
           margin-top: auto;
           margin-bottom: auto;
        
        }
    }
}
